.main-content{
    width: 100%;
}

.form-fields-data{
    width: 100%;
}

.btn-row{
    margin-top: 10px;
}

.row-padding{
    padding-bottom: 5px;
}

.custom-error{
    font-size: 75%;
    font-weight: 400;
}

.help-icon{
    font-size: 14px;
    color: grey;
}